extends layout

div.container
    +navbar("BalanceSheet","dropdown_menu")
        +nav_item("#","active") Home
        +nav_item("/about") About
        +nav_item("/contact") Contact
        +nav_item_dropdown("#")(label="Login")
            +nav_item("/edit") Settings
            +nav_item("/logout") Logout
    div.container
        h1 Araja Jyothi Babu getting ready for the awesomeness
